<div class="container">
  <mat-card>
    <div class="books">
      <div class="book" *ngFor="let book of books?.items"
           (click)="openBookDialog(book)">
        <img [src]="book.imageLinks.smallThumbnail"
             alt="book"
             *ngIf="book.imageLinks"
             class="book-img" />
        <div class="content">
          <span class="book-title">{{book.title}}</span>
          <div class="authors" *ngIf="book.authors; index as i">
            <span>By </span>
            <span *ngFor="let author of book.authors"
                  class="book-author">
            {{author}}
          </span>
            <span *ngIf="book.authors.length > 1 && i < book.authors.length">, </span>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator [length]="books?.totalItems"
                   [pageSize]="20"
                   (page)="paginationClick.emit($event)">
    </mat-paginator>
  </mat-card>
</div>
