.wishlist {
  .icon {
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
}

  .book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 8px 20px;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0,0,0,.2);
    }

    .clear-icon {
      margin-left: 12px;
      transform: scale(.9);
      cursor: pointer;
      &:hover {
        opacity: .8;
      }
    }
}

.no-data {
  padding: 24px;
}

