.container {
  text-align: center;
  width: 90%;
  margin: 20vh auto 0;
  .title {
    font-size: 3rem;
    line-height: 1.2;
  }

  .sub-title {
    font-weight: unset;
    font-size: 1.8rem;
    margin-top: 30px;
  }
}
