.container {
  text-align: center;
  margin-top: 10%;

  .title {
    font-size: clamp(2rem, 10vw, 3rem);
  }

  .sub-title {
    font-weight: unset;
    font-size: 1.8rem;
    margin-top: 30px;
  }

  .welcome-form {
    color: #fff;
    width: 50%;
  }
}
