.container {
  text-align: center;
  width: 90%;
  margin: 10vh auto 0;

  .title {
    font-size: 3rem;
    line-height: 1.2;
  }

  .wishlist {
    position: absolute;
    top: 0;
    margin-top: 20px;
    margin-left: 20px;
  }
}
