<div class="container">

  <div class="wishlist">
    <app-wishlist
      (deleteFromWishList)="deleteFromWishList($event)"
      [wishList]="wishList$ | async">
    </app-wishlist>
  </div>

  <h1 class="title">What do you want to read, {{name}}?</h1>
  <app-search-books (searchBook)="searchBookQuery($event)">
  </app-search-books>

  <app-books-display
    (paginationClick)="searchBookQuery(searchQuery, $event.pageIndex, $event.pageSize)"
    [books]="books$ | async">
  </app-books-display>

</div>

